extends layout

block content
    style(type='text/css').
        img{
            display: block;
            margin: 10px auto;
            padding: 10px;
        }
        .card-body{
            color: #FFF;
        }
        .card{
            margin-top: 30px;
        }

    div.card
        div.card-img
            img.img-fluid(src='./images/Manotel-Geneve-Restaurants.jpg')
        divcard.card-body
            h2 Our Story
            p.card-text This is our story ...

    div.card
        div.card-img
            img(src="./images/chef.jpg")
        div.card-body
            h2 Our Staff
            p.card-text Say domething about this chef ...

    div.redirect
        a(href='/') back to home page

