extends layout

block content
    style(type='text/css').
        * {
            font-family: 'Helvetica Neue', Helvetica, sans-serif;
            font-size: 19px;
            font-variant: normal;
            padding: 0;
            margin: 0;
        }
        label {
            height: 35px;
            position: relative;
            color: #8798AB;
            display: block;
            margin-top: 30px;
            margin-bottom: 20px;
        }

    div.container
        div.card
            div.card-header
                h5(style="margin-bottom:0;") Payment Form
            div.card-body
                form(action="/checkout" method="post"  id='checkout-form')
                    label
                        input(name="cardholder-name" class="field is-empty" placeholder="Jane Doe")
                        span
                            span Name
                    label
                        input(class="field is-empty" type="tel" placeholder="(123) 456-7890")
                        span
                            span Phone number
                    label
                        div(id="card-element" class="field is-empty")
                        span
                            span Credit or debit card

                    button(style="margin-top:20px")="Pay $"+total+".00"
            div(class="outcome")
                div(class="error" role="alert")
                div(class="success") Success! Your payment has been submitted
    script(src="https://js.stripe.com/v3/")
    script(src="javascripts/checkout.js")