extends layout

block content
    style(type='text/css').
        form{
            font-family: 'Verdana', sans-serif;
        }
        div.form-group{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        label, input, button {
            display: block;
        }
        label{
            margin-bottom: 0;
        }
        textarea{
            margin-bottom: 10px;
        }
        button{
            background-color: #B91D3A;
            border-radius: 10px;
            height: 50px;
            width: 150px;
        }
        div.redirect {
            text-align: right;
            margin: 50px;
            font-size: 20px;
        }

        div.redirect a {
            color: black;
        }

    form.contact(method='POST' action='')
        h1=title
        div.form-group
            label Name
            input.form-control(type='text' placeholder='Your name')
        div.form-group
            label Email
            input.form-control(type='email' placeholder='youremail@provider.com')
        div.form-group
            label Message
            textarea.form-control(placeholder='your message')

            button
                a(href='#') Send Message

    div.redirect
        a(href='/') back to home page