extends layout

block content
    style(type='text/css').
<<<<<<< HEAD
        form{
            font-family: 'Verdana', sans-serif;
        }
        div.form-group{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        label, input, button {
            display: block;
        }
        label{
            margin-bottom: 0;
        }
        textarea{
            margin-bottom: 10px;
        }
        button{
            background-color: #B91D3A;
            border-radius: 10px;
            height: 50px;
            width: 150px;
        }

    form.contact(method='POST' action='')
        h1=title
        div.form-group
            label Name
            input.form-control(type='text' placeholder='Your name')
        div.form-group
            label Email
            input.form-control(type='email' placeholder='youremail@provider.com')
        div.form-group
            label Message
            textarea.form-control(placeholder='your message')

            button
                a(href='#') Send Message


    a(href='/') back to home page
=======
        button{
            float: right;
        }

    div.card
        div.card-header
            h4 Contact us
        div.card-body

        form(method='POST' action='/contact')
            div.form-group
                label Name
                input.form-control(type='text' placeholder='Your name')
            div.form-group
                label Email
                input.form-control(type='email' placeholder='youremail@provider.com')
            div.form-group
                label Message
                textarea.form-control(placeholder='your message')

            button(type='submit') Send Message

    div.redirect
        a(href='/') back to home page
>>>>>>> 5f01b950e8dc359311d8dc637cb5e46f38e787ce
