extends layout

block content
  style(type='text/css').
    body{
      background-color: #B91D3A;
      color: white;
    }
    .logo{
      margin-top: 50px;
    }
    .welcome{
      font-weight: bold;
    }
    .subheader{
      margin-bottom: 50px;
    }
    h1{
      text-align: center;
    }

  div.container
    img.logo(src='images/logo.png')
    h1.welcome Welcome to Chicken & Fries
    h1.subheader Crispy like no other!
