extends layout

block content
<<<<<<< HEAD

  img(src='/images/logo.png' class='logo')
  h1= title
  h2 Crispy like no other!

  form.order-choice(method='POST' action='')
    div.form-group
        div.header
            h3 Place your order
        div.btns
            button.pick-up
                a(href='/create-pick-up-order') Pick Up
            button.delivery
                a(href='/create-delivery-order') Delivery
=======
    style(type='text/css').
        body{
            background-color: #B91D3A;
            color: white;
            display: flex;
            justify-content: center;
        }
        .container{
            margin-top: 50px;
        }

    div.container
        h1= title
        img(src='/images/logo.png' class='logo')
        h2 Crispy like no other!
>>>>>>> 5f01b950e8dc359311d8dc637cb5e46f38e787ce
