extends layout

block content
    style(type='text/css').
        body{
            background-color: #B91D3A;
            color: white;
            display: flex;
            justify-content: center;
        }
        .container{
            margin-top: 50px;
        }

    div.container
        h1= title
        img(src='/images/logo.png' class='logo')
<<<<<<< HEAD
        h2 Crispy like no other!
=======
        h2 Crispy like no other!
>>>>>>> 0c69d38ae2f6030c503ad41f6b525b68fbf3efb6
