extends layout

block content
  style(type='text/css').
    body{
      background-color: #B91D3A;
      color: white;
      display: flex;
      justify-content: center;
    }
    .container{
      margin-top: 50px;
    }
  div.container
    h1= title
    img(src='/images/logo.png' class='logo')
    h2 Crispy like no other!