doctype html
html(lang='en')
  head
    <!-- Required meta tags -->
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    <!-- Bootstrap CSS -->
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.fixed-top
        a.navbar-brand(href="/") Chicken & Fries
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        div.collapse.navbar-collapse(id='navbarSupportedContent')
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href="/") Home
            li.nav-item
              a.nav-link(href="/users/order") Order
            li.nav-item
              a.nav-link(href="/about") About
            li.nav-item
              a.nav-link(href="/contact") Contact
            li.nav-item
              a.nav-link(href="/location") Location
            li.nav-item
              a.nav-link(href="/shopping-cart/")
                <i class="fas fa-shopping-cart"></i> Shopping cart
                //if session.cart
                  span.badge.badge-dark(style='margin-left:5px')=session.cart.totalQty

            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                <i class="fas fa-user"></i> User Management

              div.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")

                  a.dropdown-item(href="/users/profile") Profile

                  a.dropdown-item(href="/users/logout") Logout

                  a.dropdown-item(href="/users/signup") Sign up

                  a.dropdown-item(href="/users/signin") Sign in

    main
      div.container
        block content

    footer Ana Cristina Piazza - WAI - Full Sail University

    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')