extends layout

block content
    h1=title

    form.order-choice(method='POST' action='')
        div.form-group
            div.header
                h3 Place your order
            div.btns
                button.pick-up
                    a(href='/create-pick-up-order') Pick Up
                button.delivery
                    a(href='/create-delivery-order') Delivery

    a(href='/') back to home page


