extends layout

block content
    style(type='text/css').
        button a{
            color: white;
        }
        button.breakfast,
        button.lunch,
        button.dinner{
            display: block;
            width: 100%;
            margin: 10px auto;
        }
        button.pick-up,
        button.delivery{
            display: block;
            width: 150px;
            margin:10px auto;
        }


    div.card
        div.card-header
            h4 Place your order
        div.card-body
            button.breakfast
                a(href='/breakfast') Breakfast
            button.lunch
                a(href='/lunch') Lunch
            button.dinner
                a(href='/dinner') Dinner

    div.redirect
        a(href='/') back to home page