extends layout
block content
    div.card
        div.card-header
            h2 Your shopping cart items
        div.card-body
            ul
                if foodItems
                    each item in foodItems
                        li
                            h6=item.item.name
                            span.btn.btn-success.disabled="$"+item.price+".00"
                            div.btn-group
                                button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown") Action
                                    span.caret
                                        ul.dropdown-menu
                                            li.text-center
                                                a(href="#") reduce by 1
                                            li.text-center
                                                a(href="#") remove all
                            span.badge.badge-dark.float-right=item.qty

                            hr
                    strong="Total: $"+totalPrice+".00"
                            hr
                            button.btn.btn-success
                                a(href="/checkout") Checkout
                else
                        button.btn.btn-warning.disabled Your cart is empty