extends layout

block content

    div.card
        div.card-header
        div.card-body
            ul.list-group
                li.list-group-item
                    strong title
                    span.badge 2
                    span.alert.btn-success $12
                    div.btn-group
                        button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown") Action
                            span.caret
                            ul.dropdown-menu
                                li
                                    a(href="#") reduce by 1
                                li
                                    a(href="#") remove all
