extends layout
block content
    div.card
        div.card-header
            h2 Your shopping cart items
        div.card-body
            ul(style='list-style-type:none;')
                if foodItems
                    each item in foodItems
                        li
                            h6=item.item.name
                            span.btn.btn-success="$"+item.price+".00"
                            div.btn-group
                                button.btn.btn-primary.dropdown-toggle(id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='margin-left:20px') Edit Order
                                div.dropdown-menu
                                    a.dropdown-item(href="/reduce/"+item.item._id) reduce by 1
                                    a.dropdown-item(href="/remove/"+item.item._id) remove all

                            span.badge.badge-dark.float-right=item.qty

                            hr
                    strong="Total: $"+totalPrice+".00"
                            hr
                            button.btn.btn-success
                                a(href="/checkout") Checkout
                else
                    h1 Your cart is empty