extends ../layout

block content
    h1=title
    div.card
        div.card-header
            h3 Create you account
        div.card-body
            form(method='post' action='/users/signup')
                div.form-group
                    label(for="email") Email:
                    input.form-control(id="email" type="email" required=true)
                div.form-group
                    label(for="password") Password:
                    input.form-control(id="password" type="password" required=true)
                input(type='hidden' name='_csrf' value=csrfToken)
                button(type="submit") Create Account