html{
  position: relative;
  min-height: 100%;
}
body {
  padding: 50px;
  font: 20px "Comic Sans MS", Helvetica, Arial, sans-serif;
  background-color: #EEE8D5;
}

/*Navigation*/
.navbar{
  background-color: #B91D3A;
}
.navbar-brand{
  text-align: center;
}
button.navbar-toggler-icon{
  width: auto;
  color: white;
}

main{
  margin-top: 50px;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 220px;
  width: auto;
}

/*Headings*/
h1, h2, h3, h4{
  text-align: center;
}

/*Cards*/
.card{
  background-color: rgba(0, 0, 0, 0.20);
  border-radius: 10px;
}
.card-header{
  background-color: #B91D3A;
  color: white;
}

/*Menu Cards*/
.card.menu{
  display: inline-flex;
  max-width: calc(100% / 3 - 10px);
  height: 530px;
  margin: 5px;
  border: none;
  border-radius: 10px;
}
.icons,.price-add{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30px;
}


/*Redirect links*/
div.redirect{
  text-align: right;
  margin: 50px;
  font-size: 20px;
}
div.redirect a{
  color: black;
}
div.redirect{
  margin-right: 0;
}

/*Forms*/
form{
  font-family: "Verdana",sans-serif;
  padding: 20px;
}
form label{
  margin-bottom: 0;
}

/*Buttons*/
button{
  background-color: #B91D3A;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 10px;
}
footer{
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  line-height: 50px;
  text-align: center;
  background-color: #B91D3A;
}
a {
  color: #00B7FF;
}