html{
  position: relative;
  min-height: 100%;
}
body {
  padding: 50px;
  font: 20px "Comic Sans MS", Helvetica, Arial, sans-serif;
  background-color: #EEE8D5;
}
.navbar{
  background-color: #B91D3A;
}

button.navbar-toggler-icon{
  width: auto;
  color: white;
}
main{
  margin-top: 50px;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 220px;
  width: auto;
}
h1, h2, h3, h4{
  text-align: center;
}
form.order-choice{
  margin-top: 20px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 50px;
  background-color: #D3D0CA;
  width: 30%;
  padding-bottom: 10px;
}
form a{
  color: white;
  text-decoration: none;
}
div.header{
  background-color: #B91D3A;
  padding:10px;
  color:white;
}
div.btns{
  padding-top:10px;
}
button.pick-up,
button.delivery,
button.breakfast,
button.lunch,
button.dinner{
  display:block;
  background-color: #B91D3A;
  color: white;
  height: 70px;
  width: 250px;
  border-radius: 10px;
  margin:10px;
  margin-left:auto;
  margin-right:auto;
  font-size: 24px;
}
footer{
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  line-height: 50px;
  text-align: center;
  background-color: #B91D3A;
}
a {
  color: #00B7FF;
}
.navbar-brand{
  text-align: center;
}