extends layout

block content
    style(type='text/css').
        div.redirect {
            text-align: right;
            margin: 50px;
            font-size: 20px;
        }

        div.redirect a {
            color: black;
        }

    h1=title

    h2 Our Story
    p write the story here

    h2 Our Staff
    p place an image and short bio about staff

    div.redirect
        a(href='/') back to home page

