extends layout

block content
  style(type='text/css').
    body {
      background-color: #B91D3A;
      color: white;
    }
  img(src='/images/logo.png' class='logo')
  h2= title
  h4 Crispy like no other!
