extends layout

block content

  img(src='/images/logo.png' class='logo')
  h1= title
  h2 Crispy like no other!

  form.order-choice(method='POST' action='')
    div.form-group
        div.header
            h3 Place your order
            p a small change for heroku
        div.btns
            button.pick-up
                a(href='/create-pick-up-order') Pick Up
            button.delivery
                a(href='/create-delivery-order') Delivery