doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script()
    title= title

  body
    header
      nav(class='navbar navbar-dark fixed-top')
        button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          img(src='/icons/three-bars.svg' class='navbar-toggler-icon')
        a(class='navbar-brand' href='/') Chicken & Fries
        img(src='/icons/si-glyph-magnifier.svg' class='si-glyph-magnifier')
        div(class='collapse navbar-collapse' id='navbarSupportedContent')
          ul(class='navbar-nav mr-auto')
            li(class='nav-item')
              a(class='nav-link' href='/') Home
            li(class='nav-item')
              a(class='nav-link' href='/order') Order
            li(class='nav-item')
              a(class='nav-link' href='/about') About Us
            li(class='nav-item')
              a(class='nav-link' href='/contact') Contact
            li(class='nav-item')
              a(class='nav-link' href='/location') Location
    main
      block content

    footer Ana Cristina Piazza - WAI - Full Sail University

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")