extends layout

block content
    style(type='text/css').
        div.redirect {
            text-align: right;
            margin: 50px;
            font-size: 20px;
        }

        div.redirect a {
            color: black;
        }

    h1=title

    div.redirect
        a(href='/') back to home page

