extends layout

block content

    style(type='text/css').
        .login-form{
            display: block;
            background-color: #D3D0CA;
        }
        #input-username,
        #input-password,
        .login{
            margin: 15px 30px;
        }
        .login{
            background-color: #B91D3A;
            color: white;
            height: 50px;
            width: 200px;
            border-radius: 10px;
            font-size: 20px;
        }
        .links a{
            display: block;
        }

    h1=title

    form.login-form(method='POST' action='')
        div
            div.header
                h3 Login to your account
        div.form-group(id='input-username')
            input.form-control(type='text' placeholder='username')
        div.form-group(id='input-password')
            input.form-control(type='text' placeholder='password')
        div.form-group
            button.login Login

    //if login credential are right got to menuselection page
    div.links
        a(href='/users/register') Don't have an account yet? Register
        a(href='/') back to home page
