extends layout

block content
    style(type='text/css').
        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            margin-bottom: 30px;
        }

    h1=title

    ul
        li
            img(src='/images/lunch/chuttersnap-604567-unsplash.jpg' class='breakfast-image' width='100%' height='auto')
        li
            img(src='/images/lunch/oscar-nord-627731-unsplash.jpg' class='breakfast-image' width='100%' height='auto')
        li
            img(src='/images/lunch/vita-marija-murenaite-531510-unsplash.jpg' class='breakfast-image' width='100%' height='auto')

    a(href='/menu-selection') back to order page