extends layout

block content
    style(type='text/css').
        .card{
            background-color: rgba(0, 0, 0, 0.25);
        }
        .card-header{
            background-color: #B91D3A;
            color: white;
        }
        .btn{
            display: block;
            background-color: #B91D3A;
            color: white;
            margin: 10px;
        }

    h1=title
    h4 Place an order for pickup
    div.card
        div.card-header
            h4 Place your order
        div.card-body
            a.btn(href='/breakfast') Breakfast

            a.btn(href='/lunch') Lunch

            a.btn(href='/dinner') Dinner

    a(href='/') back to home page