extends layout

block content
    style(type='text/css').
        .register-form {
            display: block;
            background-color: #D3D0CA;
        }

        .input-email,
        .input-password,
        .input-name,
        .create, .terms {
            margin: 20px;
        }

        .create {
            background-color: #B91D3A;
            color: white;
            height: 50px;
            width: 200px;
            border-radius: 10px;
            margin: 10px;
            font-size: 20px;
        }
        .terms{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }


    h1=title

    form.register-form(method='POST' action='')
        div
            div.header
                h3 Create your account
        div.form-group.input-name
            input.form-control(type='text' placeholder='first name')
        div.form-group.input-name
            input.form-control(type='text' placeholder='last name')
        div.form-group.input-email
            input.form-control(type='email' placeholder='email')
        div.form-group.input-password
            input.form-control(type='text' placeholder='password')
        div.form-group.terms
            a(href='/terms') I accept the Terms
            button.create
                a(href='/menu-selection') Create
