extends layout

block content
    style(type='text/css').
        main{
            font-family: 'Verdana', sans-serif;
        }

    h1=title
    div.container(style='margin:30px;text-align:center;')
        a(href='https://www.gnu.org/licenses/gpl-3.0.html') Terms and Conditions

    a(href='/') back to home page